.portfolio-card {
  background-color: #343a40;
  padding: 15px;
  margin: 10px 5px
}

.portfolio-title {
  background-color: #4aaaa5;
  margin: 0px 0px 0px 0px;
  padding: 5px;
}

.popover {
  background-color: #202020;
  max-width: 100%;
}

.popover-img {
  max-width: 50vw;
}

.portfolio-row, .portfolio-img {
  margin: 0px;
}

.portfolioCol, .portfolioBody {
  padding: 5px;
}