body {
    font-family: "Nanum Gothic";
    background: url(../images/dark_brick_wall/dark_brick_wall.png);
}

.content {
  padding: 5px;
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: #202020;
}

.navbar, .card-title {
  font-family: "Shadows Into Light";
  letter-spacing: 3px;
}

.navbar {
  padding:0px;
}

.navbar-brand {
  background-color: #4aaaa5;
  padding: 10px;
}

.card {
  padding: 0px;
  border: none;
  color: #ffffff;
  background-color: #202020;
}

.photo {
  max-height: 160px;
  max-width: 160px;
}

.otherPages {
  display: block;
  text-align: center;
  padding: 5px;
}

.links:link, .links:visited {
  color: #A7C8C6;
  text-decoration: underline;
}

.links:hover {
  color: #84DFDB;
}

.links:active {
  color:#4aaaa5;
}

.portfolio-card {
  background-color: #343a40;
  padding: 15px;
  margin: 10px 4%
}

.portfolio-title {
  background-color: #4aaaa5;
  margin: -19px 0px 0px 0px;
  padding: 5px;
}

.popover-content {
  background-color: none;
}

.portfolio-row, .portfolio-img {
  margin: 0px;
}

.portfolioCol, .portfolioBody {
  padding: 5px;
}


#portfolioBtns {
  text-align: center;
  margin: 20px 0px;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  font-family: "Shadows Into Light";
  letter-spacing: 3px;
  color: #ffffff;
}

@media screen and (min-width:992px){
  .portfolioTitles {
    font-size: 18px;
  }
}

@media screen and (max-width:991px){
  .portfolioTitles {
    font-size: 12px;
  }
}

@media screen and (max-width:767px){
  .portfolioTitles {
    font-size: 18px;
  }
  .photo {
    display: block;
    margin: 0px auto;
  }
  footer {
    height: 6vh;
    padding-top: 2vh;
  }
}

@media screen and (max-width:459px){
  .portfolioTitles {
    font-size: 2.5vw;
  }
  .otherPages {
    font-size: 3vw;
  }
  footer {
    height: 6vh;
    padding-top: 2vh;
  }
}