body {
    font-family: "Nanum Gothic";
    background: url(../images/dark_brick_wall/dark_brick_wall.png);
}

.content {
  padding: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #202020;
}

.navbar, .card-title {
  font-family: "Shadows Into Light";
  letter-spacing: 3px;
}

.navbar {
  padding:0px;
}

.navbar-brand {
  background-color: #4aaaa5;
  padding: 10px;
}

.card {
  padding: 20px;
  border: none;
  color: #ffffff;
  background-color: #202020;
}

.photo {
  max-height: 160px;
  max-width: 160px;
}

.portfolio {
  padding: 0px;
  margin-left: 25%;
  width: 50%;
}

.portfolio-row {
  width:100%;
  margin: 0px;
}

#portfolioBtns {
  margin: 20px 25vw;
}

.card-img-overlay {
  background-color: #4aaaa5;
  padding: 5%;
  margin-top: 60%;
  height: 20%;
}

.portfolio-link:link {
  color: white;
}

.portfolio-link:visited {
  color: black;
}

.portfolio-link:hover {
  color: gray;
}

.portfolio-link:active {
  color:red;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  font-family: "Shadows Into Light";
  letter-spacing: 3px;
  color: #ffffff;
}