body {
    color: #ffffff;
    background-image: url(../images/dark_brick_wall/dark_brick_wall.png);
    font-family: "Nanum Gothic";
}

.navbar-brand{
    font-family: "Shadows Into Light";
    letter-spacing: 3px;
}

.card-text {
    text-align: center;
}

span, .newGame{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.card-img{
    margin: 25% 0px 0px 15%;
}

